# ==== Server-side ====
UPSTASH_REDIS_REST_URL="<your_upstash_redis_rest_url>"
UPSTASH_REDIS_REST_TOKEN="<your_upstash_redis_rest_token>"
#Auth Whatsapp
WHATSAPP_API_URL="http://31.97.73.87:8080/message/sendText/auth"
WHATSAPP_API_KEY="429683C4C977415CAAFCCE10F7D57E11"


BILLING_MODE="manual"
ADMIN_TOKEN="<your_admin_token>"

RESEND_TOKEN="<your_resend_token>"
RESEND_EMAIL="hello@example.com"

STRIPE_SECRET_KEY="<your_stripe_secret_key>"
STRIPE_HOBBY_PRODUCT_ID="<your_stripe_hobby_product_id>"
STRIPE_PRO_PRODUCT_ID="<your_stripe_pro_product_id>"
STRIPE_USAGE_PRODUCT_ID="<your_stripe_usage_product_id>"
STRIPE_CREDITS_METER_ID="<your_stripe_credits_meter_id>"
STRIPE_CREDITS_METER_NAME="Dev Credits"
STRIPE_WEBHOOK_SECRET="<your_stripe_webhook_secret>"

SUPABASE_AUTH_HOOK_SECRET="<your_supabase_auth_hook_secret>"
POSTGRES_URL="postgresql://<user>:<password>@<host>:<port>/<database>"
SUPABASE_SERVICE_ROLE_KEY="<your_supabase_service_role_key>"

ARK_API_KEY="<your_ark_api_key>"
OPENAI_API_KEY="<your_openai_api_key>"
XAI_API_KEY="<your_xai_api_key>"
AWS_ACCESS_KEY_ID="<your_aws_access_key_id>"
AWS_SECRET_ACCESS_KEY="<your_aws_secret_access_key>"
AWS_REGION=us-east-1
HUME_API_KEY="<your_hume_api_key>"
LMNT_API_KEY="<your_lmnt_api_key>"
MINIMAX_GROUP_ID="<your_minimax_group_id>"
MINIMAX_API_KEY="<your_minimax_api_key>"
RUNWAYML_API_SECRET="<your_runwayml_api_secret>"
LUMA_API_KEY="<your_luma_api_key>"
BF_API_KEY="<your_bf_api_key>"
AIML_API_KEY="<your_aiml_api_key>"
AI_GATEWAY_API_KEY="<your_ai_gateway_api_key>"

# ==== Client-side (NEXT_PUBLIC_*) ====
NEXT_PUBLIC_POSTHOG_KEY="<your_posthog_key>"
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
NEXT_PUBLIC_SUPABASE_URL="https://<project>.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="<your_supabase_anon_key>"
